.chat-expand-div {
	position: fixed;
	right: 0;
	bottom: 0;
	display: flex;
	z-index: 99;
	align-items: flex-end;
	// top: 0;
}
.open-expand {
	width: 34%;
	transition: all 200ms ease-out 0s;
}
.chat-expand-btn {
	text-align: end;
}
.chat {
	width: 100%;
	height: 100%;
	background-color: white;
	transition: all 200ms ease-out 0s;
	box-shadow: rgba(6, 25, 56, 0.25) 0px 25px 50px -12px;
	border-radius: 6px 6px 0px 0px;
	color: #324256;
}
.open-chat {
	display: block;
}

.close-chat {
	display: none;
	// width: 0px;
}
.chat-top {
	background-color: #1890ff;
	opacity: 0.8;
	text-align: center;
	color: #fff;
	padding: 10px 0;
	p {
		font-weight: 600;
		margin: 0;
	}
}
/* Messages */
.messagesColumn {
	height: 70vh;
	overflow: auto;
	padding: 10px;
}
.message {
	border-radius: 6px;
	margin-bottom: 24px;
	max-width: 600px;
	padding: 12px;
}
.msg-left {
	margin-left: 40px;
	background: rgba(54, 133, 237, 0.6);
	.msgMeta,
	.msgText {
		color: #fff;
	}
}
.msg-right {
	margin-right: 40px;
	background: #f0f2f7;
	.msgMeta,
	.msgText {
		color: #324256;
	}
}
.msgMeta {
	font-size: 0.75rem;
}

.sendMessageContainer {
	padding: 16px 20px;
}
.messageInput {
	padding: 6px;
	margin-right: 16px;
	width: 60%;
	border-radius: 6px;
	border: 1px solid rgb(153, 217, 234);
	font-size: 0.9rem;
	outline: none;
}
.btn-chat-send {
	background-color: #1890ff;
}
